﻿
@{
    ViewBag.Title = "PayEmployeesCompleted";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-lg-2"> </div>
    <div class="col-lg-8 text-center">
        <h2>Employees Were Successfuly Payed!</h2>
        <hr/>
    </div>
    <div class="col-lg-2"> </div>
</div>
