﻿@model IList<CartelloDiApis.Models.ProductionLineModel>
@{
    ViewBag.Title = "Cocaine";
}

@for (int i = 0; i < Model.Count(); i += 2)
{
    <div class="row">
        @{
            int j = 0;
            for (; j < 2 && i + j < Model.Count(); j++)
            {
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">@Model[i + j].LineName: @Model[i + j].LineState</div>
                        <div class="panel-body" style="background: #151515">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge info"><i class="fa fa-database"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Getting Material</h4>
                                            <span><i class="fa fa-clock-o fa-2x"></i> Duration 30s</span>
                                            <hr />
                                        </div>
                                        <div class="timeline-body">
                                            <div class="bs-example">
                                                <div class="progress" style="margin-bottom: 9px;">
                                                    <div class="progress-bar progress-bar-info" style="width: @Model[i+j].GetMaterialPercent%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge success"><i class="fa fa-gears"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Production</h4>
                                            <span><i class="fa fa-clock-o fa-2x"></i> Duration 60s</span>
                                            <hr />
                                        </div>
                                        <div class="timeline-body">
                                            <div class="bs-example">
                                                <div class="progress" style="margin-bottom: 9px;">
                                                    <div class="progress-bar progress-bar-info" style="width: @Model[i+j].ProducingPercent%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge info"><i class="fa fa-bar-chart"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Quality Control</h4>
                                            <span><i class="fa fa-clock-o fa-2x"></i> Duration 30s</span>
                                            <hr />
                                        </div>
                                        <div class="timeline-body">
                                            <div class="bs-example">
                                                <div class="progress" style="margin-bottom: 9px;">
                                                    <div class="progress-bar progress-bar-info" style="width: @Model[i+j].CheckingQualityPercent%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge success"><i class="fa fa-database"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Storing in Warehouse</h4>
                                            <span><i class="fa fa-clock-o fa-2x"></i> Duration 30s</span>
                                            <hr />
                                        </div>
                                        <div class="timeline-body">
                                            <div class="bs-example">
                                                <div class="progress" style="margin-bottom: 9px;">
                                                    <div class="progress-bar progress-bar-info" style="width: @Model[i+j].StoringPercent%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
 }

