﻿@using CartelloDiApis.Models
@model CartelloDiApis.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Account Balance <i class="fa fa-dollar"></i></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="shieldui-chart1"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="@Url.Action("PayEmployees", "Accountant")" class="btn btn-block btn-info">Pay Employees</a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-industry"></i> Production Lines</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="@Url.Action("StartAll", "ProductionLine")" class="btn btn-block btn-success">Start All Lines</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="@Url.Action("StopAll", "ProductionLine")" class="btn btn-block btn-danger">Stop All Lines</a>
                    </div>
                </div>
                <hr />
                @{
                    int ii = 0;
                    foreach (var line in Model.ProductionLines)
                     {
                         <div class="row">
                             <div class="col-lg-4">
                                 <p class="lead">@line.LineName</p>
                             </div>
                             <div class="col-lg-2">
                                 @if (line.LineState == State.Stopped)
                                 {
                                     <a href="#" class="btn btn-block btn-danger"> <i class="fa fa-stop"></i></a>
                                 }
                                 else
                                 {
                                     <a href="#" class="btn btn-block btn-success"> <i class="fa fa-play"></i></a>
                                 }
                             </div>
                             <div class="col-lg-6">
                                 @if (line.LineState == State.Stopped)
                                 {
                                     if (line.LineName.Contains("Marihuana"))
                                     {
                                         <a href="@Url.Action("StartMarihuana", "ProductionLine")" class="btn btn-block btn-success"><i class="fa fa-hand-peace-o"></i> Start Marihuana</a>
                                     }
                                     if (line.LineName.Contains("Cocaine"))
                                     {
                                         <a href="@Url.Action("StartCocaine", "ProductionLine")" class="btn btn-block btn-success"><i class="fa fa-square-o"></i> Start Cocaine</a>
                                     }
                                     if (line.LineName.Contains("Meth"))
                                     {
                                         <a href="@Url.Action("StartMeth", "ProductionLine")" class="btn btn-block btn-success"><i class="fa fa-circle-o"></i> Start Meth</a>
                                     }
                                 }
                                 else
                                 {
                                     <a href="#" class="btn btn-block btn-danger"> Use Stop All to Stop</a>
                                 }
                             </div>
                         </div>
                        ii++;
                         if (ii < Model.ProductionLines.Count)
                         {
                             <br>
                         }
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-database"></i> Warehouses</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            Warehouse Name
                        </th>
                        <th>
                            Warehouse Capacity
                        </th>
                        <th>
                            Warehouse Free Space
                        </th>
                        <th>
                            Type
                        </th>
                    </tr>


                    @foreach (var whouse in Model.Warehouses)
                    {
                        <tr>
                            <td>
                                @whouse.Name
                            </td>
                            <td>
                                @whouse.Capacity cells
                            </td>
                            <td>
                                @whouse.FreeCapacity cells
                            </td>
                            <td>
                                @whouse.Type
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        jQuery(function($) {
            var money = [
                0
                @{
                    if (Model.Transactions.Count >= 5)
                    {
                        double mon = Model.Money;
                        int lastI = 0;
                        for (int i = Model.Transactions.Count - 1; (i >= (Model.Transactions.Count - 6)) && (i >= 0); --i)
                        {
                            mon -= Model.Transactions[i].Amount;
                            lastI = i;
                        }

                        for (; lastI < Model.Transactions.Count; ++lastI)
                        {
                            mon += Model.Transactions[lastI].Amount;
                             <text>, @mon</text>
                         }
                    }
                }
            ];

            $("#shieldui-chart1").shieldChart({
                    theme: "dark",

                primaryHeader: {
                        text: "$"
                },
                exportOptions: {
                    image: false,
                    print: false
                },
                axisX: {
                        categoricalValues: ["@DateTime.MinValue.ToShortDateString()"
                            @{
                                if (Model.Transactions.Count >= 5)
                                {
                                    int iii = Model.Transactions.Count - 5;
                                    <text>, "@Model.Transactions[iii].Date.ToShortDateString()"</text>

                                    for (; iii < Model.Transactions.Count; ++iii)
                                     {
                                         <text>, "@Model.Transactions[iii].Date.ToShortDateString()"</text>
                                     }
                                }
                            }
                        ]
                },
                    seriesSettings: {
                        splinearea: {
                            baseValue: 0
                        }
                    },
                dataSeries: [
                    {
                        seriesType: "splinearea",
                        collectionAlias: "Account $",
                        data: money
                    }
                ]
            });
        });
    </script>
}
