﻿@model CartelloDiApis.Models.PaycheckModel

@{
    ViewBag.Title = "Details";
}

<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-money"></i> Paycheck #@Model.ID
                <small class="pull-right">@Model.PaycheckDate</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <address>
                <strong>Cartello Di Apis Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                Email: manager@app.com
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <address>
                <strong>@Model.EmployeeModel.Name</strong><br>
                @Model.EmployeeModel.Address1<br>
                @Model.EmployeeModel.Address2, @Model.EmployeeModel.PostalCode<br>
                Email: @Model.EmployeeModel.Email
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>Paycheck #@Model.ID</b><br>
            <br>
            <b>Date:</b> @Model.PaycheckDate<br>
            <b>Account:</b> @Model.EmployeeModel.BitcoinAddress
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Hours</th>
                        <th>$ per hour</th>
                        <th>Brutto Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.ID</td>
                        <td>@Model.Hours</td>
                        <td><i class="fa fa-dollar"></i> @Model.HourlyPay</td>
                        <td><i class="fa fa-dollar"></i>  @(Model.Hours * Model.HourlyPay)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
            <i class="fa fa-bitcoin" style="font-size: 6em"></i>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Brutto Subtotal:</th>
                        <td><i class="fa fa-dollar"></i>  @(Model.Hours * Model.HourlyPay)</td>
                    </tr>
                    <tr>
                        <th>Tax</th>
                        <td>
                            @if (Model.Tax == 0)
                            {
                                <i class="fa fa-smile-o"></i>
                            }
                            else
                            {
                                <text><i class="fa fa-dollar"></i>  @Model.Tax</text>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Netto Total:</th>
                        <td><i class="fa fa-dollar"></i>  @(Model.Hours * Model.HourlyPay - Model.Tax)</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <a href="@Url.Action("PrintDetails", new {id = Model.ID})" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
        </div>
    </div>
</section>
