﻿@model CartelloDiApis.Models.OrderModel

@{
    ViewBag.Title = "Create";
}


<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">@ViewBag.Title</div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.CustomerName, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.CustomerName, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.CustomerAddress1, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.CustomerAddress1, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.CustomerAddress1, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.CustomerAddress2, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.CustomerAddress2, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.CustomerAddress2, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.CustomerPostalCode, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.CustomerPostalCode, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.CustomerPostalCode, "", new { @class = "text-danger" })
                    </div>


                
                    <div>
                        @Html.LabelFor(m => m.Items, "Pure Marihuana", new { @class = "lead", style = "margin-bottom: 2px" })
                    <div class="input-group" style="width: 35%; text-align: left; margin: 0 auto;">                              
                            <input type="number" name="mari" id="mari" class="form-control input-number" value="0" min="0" max="1000">                            
                        </div>
                        </div>

                        <div >
                            @Html.LabelFor(m => m.Items, "Pure Cocaine", new { @class = "lead", style = "margin-bottom: 2px" })
                        <div class="input-group" style="width: 35%; text-align: left; margin: 0 auto;">                                 
                            <input type="number" name="coc" id="coc" class="form-control input-number" value="0" min="0" max="1000">                            
                        </div>
                        </div>


                        <div>
                            @Html.LabelFor(m => m.Items, "Pure Meth", new { @class = "lead", style = "margin-bottom: 2px" })
                            <div class="input-group" style="width: 35%; text-align: left; margin: 0 auto;">                               
                                <input type="number" name="meth" id="meth" class="form-control input-number" value="0" min="0" max="1000">                                    
                            </div>
                        </div>




                        <div>
                            @Html.LabelFor(m => m.Items, "Marihuana", new { @class = "lead", style = "margin-bottom: 2px" })
                            <div class="input-group" style="width: 35%; text-align: left; margin: 0 auto;">
                                <input type="number" name="mari2" id="mari2" class="form-control input-number" value="0" min="0" max="1000">
                            </div>
                        </div>

                        <div>
                            @Html.LabelFor(m => m.Items, "Cocaine", new { @class = "lead", style = "margin-bottom: 2px" })
                            <div class="input-group" style="width: 35%; text-align: left; margin: 0 auto;">
                                <input type="number" name="coc2" id="coc2" class="form-control input-number" value="0" min="0" max="1000">
                            </div>
                        </div>

                        <div>
                            @Html.LabelFor(m => m.Items, "Meth", new { @class = "lead", style = "margin-bottom: 2px" })
                            <div class="input-group" style="width: 35%; text-align: left; margin: 0 auto;">
                                <input type="number" name="meth2" id="meth2" class="form-control input-number" value="0" min="0" max="1000">
                            </div>
                        </div>
                 
                        <div class="input-group" style="width: 100%; text-align: center; margin: 10px auto;">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Order">
                            </div>
                        </div>

                }
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
