﻿@model CartelloDiApis.Models.OrderModel

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Customer</div>
            <div class="panel-body">
                <blockquote>
                    <address>
                        Name : <strong class="text-success">@Model.CustomerName</strong><hr style="padding-bottom: 0px; margin-bottom: 5px; margin-top: 5px">
                        Customer Address1 :<strong class="text-success"> @Model.CustomerAddress1<br></strong>
                        Customer Address2 :<strong class="text-success"> @Model.CustomerAddress2<br></strong>
                        Customer Postal Code :<strong class="text-success"> @Model.CustomerPostalCode<br></strong>
                        Date :<strong class="text-success"> @Model.Date<br></strong>                                          
                    </address>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Company</div>
            <div class="panel-body">
                <blockquote>
                    <address>
                        Name : <strong class="text-success">@Model.CompanyName</strong><hr style="padding-bottom: 0px; margin-bottom: 5px; margin-top: 5px">
                        Customer Address1 :<strong class="text-success"> @Model.Companyddress1<br></strong>
                        Customer Address2 :<strong class="text-success"> @Model.CompanyAddress2<br></strong>
                        Customer Postal Code :<strong class="text-success"> @Model.CompanyPostalCode<br></strong>
                        Date :<strong class="text-success"> @Model.Date<br></strong>
                    </address>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">Items in order</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th>
                            <i class="fa fa-dollar"></i> / unit
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            Total Price
                        </th>                        
                    </tr>

                    @if (Model.Items != null)
                    {
                        foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <i class="fa fa-dollar"></i> @item.PricePerUnit
                                </td>
                                <td>
                                    @item.Count kg
                                </td>
                                <td>
                                    <i class="fa fa-dollar"></i> @(item.Count * item.PricePerUnit)
                                </td>                                
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">Total</div>
            <div class="panel-body">
                <blockquote>
                    <address>
                        @{
                            double total = 0;
                            foreach (var item in Model.Items)
                            {
                                total += item.Count * item.PricePerUnit;
                            }

                            
                        }
                        Total Price : <strong class="text-success"><i class="fa fa-dollar"></i> @total</strong><hr style="padding-bottom: 0px; margin-bottom: 5px; margin-top: 5px">
                    </address>
                    <a class="btn btn-info" style="text-decoration: none" href="@Url.Action("PrintDetails", "Order", new {id = Model.ID})">Download invoice PDF</a>
                </blockquote>
            </div>
        </div>
    </div>

</div>