﻿@using CartelloDiApis.Models
@model IEnumerable<CartelloDiApis.Models.OrderViewModel>

@{
    ViewBag.Title = "Manage";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Manage Orders</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Address Line 1
                        </th>
                        <th>
                            Address Line 2
                        </th>
                        <th>
                            Postal Code
                        </th>
                        <th>
                            Date
                        </th>                        
                        <th>
                            OrderStatus
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>

                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.ID
                                </td>
                                <td>
                                    @item.CustomerName
                                </td>
                                <td>
                                    @item.CustomerAddress1
                                </td>
                                <td>
                                    @item.CustomerAddress2
                                </td>
                                <td>
                                    @item.CustomerPostalCode
                                </td>
                                <td>
                                    @item.Date
                                </td>                                
                                <td>
                                    @item.OrderStatus
                                </td>
                                <td>
                                    <a class="btn btn-info" style="text-decoration: none" href="@Url.Action("Details", "Order", new {id = item.ID})">Detail</a>
                                    @if (item.OrderStatus == CartelloDiApis.Models.Status.New)                                    
                                        {
                                            <a class="btn btn-success" style="text-decoration: none" href="@Url.Action("Accept", "Order", new { id = item.ID })">Accept</a>
                                            <a class="btn btn-danger" style="text-decoration: none" href="@Url.Action("Decline", "Order", new { id = item.ID })">Decline</a>
                                        }   
                                    
                                    @if (item.Finishable && item.OrderStatus != Status.Finished)
                                    {
                                        <a class="btn btn-success" style="text-decoration: none" href="@Url.Action("Finish", "Order", new { id = item.ID })">Finish</a>
                                    }

                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>
