﻿@model IEnumerable<CartelloDiApis.Models.OrderModel>

@{
    ViewBag.Title = "MyOrders";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Manage Orders</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Address Line 1
                        </th>
                        <th>
                            Address Line 2
                        </th>
                        <th>
                            Postal Code
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            OrderStatus
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>

                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.CustomerName
                                </td>
                                <td>
                                    @item.CustomerAddress1
                                </td>
                                <td>
                                    @item.CustomerAddress2
                                </td>
                                <td>
                                    @item.CustomerPostalCode
                                </td>
                                <td>
                                    @item.Date
                                </td>
                                <td>
                                    @item.OrderStatus
                                </td>
                                <td>
                                    <a class="btn btn-info" style="text-decoration: none" href="@Url.Action("Details", "Order", new {id = item.ID})">Detail</a>                                   
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>


