﻿@{
    ViewBag.Title = "PrintDetails";
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}

<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-money"></i> Order #@Model.ID
                <small class="pull-right">@Model.Date</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <address>
                <strong>Cartello Di Apis Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                Email: manager@app.com
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <address>
                <strong>@Model.CustomerName</strong><br>
                @Model.CustomerAddress1<br>
                @Model.CustomerAddress2, @Model.CustomerPostalCode<br>                
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>Order #@Model.ID</b><br>
            <br>
            <b>Date:</b> @Model.Date<br>            
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th><i class="fa fa-dollar"></i> / Unit</th>
                        <th>Amount</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items != null)
                    {
                        foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <i class="fa fa-dollar"></i> @item.PricePerUnit
                                </td>
                                <td>
                                    @item.Count kg
                                </td>
                                <td>
                                    <i class="fa fa-dollar"></i> @(item.Count * item.PricePerUnit)
                                </td>
                            </tr>
                        }
                    }                   
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
            <i class="fa fa-bitcoin" style="font-size: 6em"></i>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">

            <div class="table-responsive">
                <table class="table">
                    @{
                        double total = 0;
                        foreach (var item in Model.Items)
                        {
                            total += item.Count * item.PricePerUnit;
                        }


                    }
                    <tr>
                        <th style="width:50%">Brutto Subtotal:</th>
                        <td><i class="fa fa-dollar"></i>  @total</td>
                    </tr>
                    <tr>
                        <th>Tax</th>
                        <td>                          
                                <i class="fa fa-smile-o"></i>                             
                        </td>
                    </tr>
                    <tr>
                        <th>Netto Total:</th>
                        <td><i class="fa fa-dollar"></i>  @(total)</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
</section>