﻿@model CartelloDiApis.Models.EmployeeModel

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">@ViewBag.Title</div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.Name, new {@class = "lead", style = "margin-bottom: 2px"})
                        @Html.TextBoxFor(m => m.Name, new {@class = "form-control input-lg"})
                        @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
                    </div>

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.Email, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.Address1, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.Address2, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.Address2, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.PostalCode, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.HourlyPay, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.HourlyPay, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.HourlyPay, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.BitcoinAddress, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.BitcoinAddress, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.BitcoinAddress, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: center; margin: 10px auto;">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register Employee">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
