﻿@model CartelloDiApis.Models.EmployeeModel

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Employee Details</div>
            <div class="panel-body">
                <blockquote>
                    <address>
                        <strong class="text-success">@Model.Name</strong><hr style="padding-bottom: 0px; margin-bottom: 5px; margin-top: 5px">
                        <i class="fa fa-address-card"></i> @Model.Address1<br>
                        <i class="fa fa-address-card"></i> @Model.Address2<br>
                        <i class="fa fa-address-card"></i> @Model.PostalCode<br>
                        <i class="fa fa-mail-forward"></i> @Model.Email<br>
                        <i class="fa fa-bitcoin"></i> @Model.BitcoinAddress<br>
                        <i class="fa fa-dollar"></i> @Model.HourlyPay / hour<br>
                        <i class="fa fa-clock-o"></i> @Model.HoursThisPeriod
                        @if (ViewBag.UserRole == "Manager" || ViewBag.UserRole == "Employee")
                        {
                            <br>
                            using (Html.BeginForm("AddHours", "Employee", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken();
                                <div class="input-group-sm" style="margin: 0 auto;">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            Add <i class="fa fa-clock-o"></i>
                                        </div>
                                        <div class="col-lg-5">
                                            <input type="number" class="form-control input-sm" id="hours" name="hours" />
                                            <input id="empID" name="empID" type="hidden" value="@Model.ID" />
                                        </div>
                                        <div class="col-lg-4">
                                            <span class="input-group-btn">
                                                <input type="submit" class="btn btn-sm btn-primary btn-block" value="Add">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @if (ViewBag.UserRole == "Manager")
                         {
                             <br>
                            using (Html.BeginForm("SetPay", "Employee", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken();
                                <div class="input-group-sm" style="margin: 0 auto;">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            New <i class="fa fa-dollar"></i>
                                        </div>
                                        <div class="col-lg-5">
                                            <input type="number" class="form-control input-sm" id="newPay" name="newPay" />
                                            <input id="empID" name="empID" type="hidden" value="@Model.ID" />
                                        </div>
                                        <div class="col-lg-4">
                                            <span class="input-group-btn">
                                                <input type="submit" class="btn btn-sm btn-primary btn-block" value="Set">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </address>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">Employee Paychecks</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            <i class="fa fa-dollar"></i> / hour<br>
                        </th>
                        <th>
                            Hours Payed
                        </th>
                        <th>
                            Total Payment
                        </th>
                        <th>
                            Paycheck
                        </th>
                    </tr>
                    
                    @if (Model.Paychecks != null)
                    {
                        foreach (var item in Model.Paychecks)
                         {
                             <tr>
                                 <td>
                                     @item.PaycheckDate
                                 </td>
                                 <td>
                                     <i class="fa fa-dollar"></i> @item.HourlyPay
                                 </td>
                                 <td>
                                     @item.Hours
                                 </td>
                                 <td>
                                     <i class="fa fa-dollar"></i> @(item.Hours * item.HourlyPay)
                                 </td>
                                 <td>
                                     <a class="btn btn-info btn-sm" style="text-decoration: none" href="@Url.Action("Details", "Paycheck", new {id = item.ID})">Detail</a>
                                 </td>
                             </tr>
                         }
                    }
                </table>
            </div>
        </div>
    </div>
</div>
