﻿@model IEnumerable<CartelloDiApis.Models.EmployeeModel>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Employee List</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            <i class="fa fa-dollar"></i> / hour<br>
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Address Line 1
                        </th>
                        <th>
                            Address Line 2
                        </th>
                        <th>
                            Postal Code
                        </th>
                        <th>
                            Bitcoin Address
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <i class="fa fa-dollar"></i> @item.HourlyPay
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.Address1
                                </td>
                                <td>
                                    @item.Address2
                                </td>
                                <td>
                                    @item.PostalCode
                                </td>
                                <td>
                                    @item.BitcoinAddress
                                </td>
                                <td>
                                    <a class="btn btn-info" style="text-decoration: none" href="@Url.Action("Details", "Employee", new {id = item.ID})">Detail</a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>
