﻿@model IEnumerable<CartelloDiApis.Models.OutputWarehouseModel>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Main Output Warehouse</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Product Category
                        </th>
                        <th>
                            Quantity (Default Units)
                        </th>
                        <th>
                            Price / Unit
                        </th>
                        <th>
                            Date Of Creation
                        </th>
                        <th>
                            Space Occupied
                        </th>
                    </tr>

                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.ID
                                </td>
                                <td>
                                    @item.ProductName
                                </td>
                                <td>
                                    @item.ProductCategory
                                </td>
                                <td>
                                    @item.Quantity kg
                                </td>
                                <td>
                                    <i class="fa fa-dollar"></i> @item.PricePerItem
                                </td>
                                <td>
                                    @item.CreationDate
                                </td>
                                <td>
                                    @(item.SpaceRequiredPerItem * item.Quantity) cells
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>
