﻿@model CartelloDiApis.Models.InputWarehouseModel
@{
    ViewBag.Title = "Accept";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">@ViewBag.Title</div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.ProductName, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.ProductCategory, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.ProductCategory, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.ProductCategory, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.Quantity, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.PricePerItem, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.PricePerItem, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.PricePerItem, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: left; margin: 0 auto;">
                        @Html.LabelFor(m => m.SpaceRequiredPerItem, new { @class = "lead", style = "margin-bottom: 2px" })
                        @Html.TextBoxFor(m => m.SpaceRequiredPerItem, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.SpaceRequiredPerItem, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group" style="width: 100%; text-align: center; margin: 10px auto;">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Accept Goods">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
