﻿@using Microsoft.Ajax.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cartello - @ViewBag.Title</title>
    @Styles.Render("~/bundles/RestCss")
    <link rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/dark-bootstrap/all.min.css" />
    @Scripts.Render("~/bundles/RestJs")
    <script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="https://www.prepbootstrap.com/Content/js/gridData.js"></script>

</head>
<body>
    <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Cartello - Admin</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul id="active" class="nav navbar-nav side-nav">
                @{
                    if (ViewBag.UserRole != null)
                    {
                        if (ViewBag.UserRole == "Manager")
                        {
                            <li class="selected"><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                            <li class="dropdown orders-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book"></i> Orders<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Manage", "Order")"><i class="fa fa-briefcase"></i> Manage Orders</a></li>
                                    <li><a href="@Url.Action("Create", "Order")"><i class="fa fa-book"></i> Create Order</a></li>
                                </ul>
                            </li>
                            <li class="dropdown empl-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-address-card-o"></i> Employees<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Employee")"><i class="fa fa-address-card-o"></i> List Employees</a></li>
                                    <li><a href="@Url.Action("Create", "Employee")"><i class="fa fa-plus-square"></i> Add Employee</a></li>
                                </ul>
                            </li>
                            <li class="dropdown wareh-dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-database"></i> Warehouse<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "InputWarehouse")"><i class="fa fa-database"></i> Input Warehouse</a></li>
                                    <li><a href="@Url.Action("Index", "OutputWarehouse")"><i class="fa fa-database"></i> Output Warehouse</a></li>
                                    <li><a href="@Url.Action("Accept", "InputWarehouse")"><i class="fa fa-plus-square"></i> Accept Goods</a></li>
                                </ul>
                            </li>
                            <li class="dropdown fac-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-industry"></i> Factory<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Marihuana", "ProductionLine")"><i class="fa fa-hand-peace-o"></i> Marihuana Line</a></li>
                                    <li><a href="@Url.Action("Meth", "ProductionLine")"><i class="fa fa-circle-o"></i> Meth Line</a></li>
                                    <li><a href="@Url.Action("Cocaine", "ProductionLine")"><i class="fa fa-square-o"></i> Cocaine Line</a></li>
                                </ul>
                            </li>
                        }
                        else if (ViewBag.UserRole == "Employee")
                        {
                            <li class="selected"><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>                            
                            <li><a href="@Url.Action("Details", "Employee", new {id = ViewBag.UserID })"><i class="fa fa-address-card-o"></i> My Employee Profile</a></li>
                            <li class="dropdown wareh-dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-database"></i> Warehouse<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "InputWarehouse")"><i class="fa fa-database"></i> Input Warehouse</a></li>
                                    <li><a href="@Url.Action("Index", "OutputWarehouse")"><i class="fa fa-database"></i> Output Warehouse</a></li>
                                    <li><a href="@Url.Action("Accept", "InputWarehouse")"><i class="fa fa-plus-square"></i> Accept Goods</a></li>
                                </ul>
                            </li>
                            <li class="dropdown fac-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-industry"></i> Factory<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Marihuana", "ProductionLine")"><i class="fa fa-hand-peace-o"></i> Marihuana Line</a></li>
                                    <li><a href="@Url.Action("Meth", "ProductionLine")"><i class="fa fa-circle-o"></i> Meth Line</a></li>
                                    <li><a href="@Url.Action("Cocaine", "ProductionLine")"><i class="fa fa-square-o"></i> Cocaine Line</a></li>
                                </ul>
                            </li>
                        }
                        else if (ViewBag.UserRole == "Customer")
                        {
                            <li class="dropdown orders-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book"></i> Orders<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("MyOrders", "Order")"><i class="fa fa-address-book"></i> My Orders</a></li>
                                    <li><a href="@Url.Action("Create", "Order")"><i class="fa fa-book"></i> Create Order</a></li>
                                </ul>
                             </li>
                        }
                    }
                }
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @ViewBag.UserEmail<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Manage")"><i class="fa fa-gear"></i> Settings</a></li>
                        <li class="divider"></li>
                        <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Log Out</a>
                        }
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>
        
    <div id="page-wrapper">
        @RenderBody()
        <hr />
        <footer class="text-center text-danger">
            <p>&copy; @DateTime.Now.Year - Cartello Di Apis</p>
        </footer>
    </div>
        
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
