﻿<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cartello - @ViewBag.Title</title>
        @Styles.Render("~/bundles/FormsCss")
        @Scripts.Render("~/bundles/RestJs")
    </head>
<body>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <img class="img-rounded img-responsive" src="~/Content/img/image.png" />
        </div>
        <div class="col-lg-5"></div>
    </div>
    @RenderBody()

    <footer class="text-center text-danger">
        <p>&copy; @DateTime.Now.Year - Cartello Di Apis</p>
    </footer>
</div>
@RenderSection("Scripts", false)
</body>
</html>
