﻿@using Microsoft.Ajax.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cartello - @ViewBag.Title</title>
    @Styles.Render("~/bundles/RestCss")
    @Scripts.Render("~/bundles/RestJs")

</head>
<body onload="window.print();">
        <div id="page-wrapper">
            @RenderBody()
            <hr />
            <footer class="text-center text-danger">
                <p>&copy; @DateTime.Now.Year - Cartello Di Apis</p>
            </footer>
        </div>

    @RenderSection("scripts", required: false)
</body>
</html>
