﻿@using CartelloDiApis.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-lg-2"> </div>
    <div class="col-lg-8 text-center">
        <h1>@ViewBag.Title</h1>
        <hr/>
        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "col-lg-12", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="input-group" style="width: 340px; text-align: left; margin: 0 auto;">
                @Html.LabelFor(m => m.Email, new { @class = "lead", style="margin-bottom: 2px" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="input-group" style="width: 340px; text-align: left; margin: 0 auto;">
                @Html.LabelFor(m => m.Password, new { @class = "lead", style = "margin-bottom: 2px" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="input-group" style="width: 340px; text-align: center; margin: 0 auto;">
                <div class="col-md-12">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>

            <div class="input-group" style="width: 340px; text-align: center; margin: 0 auto;">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Log In">
                </div>
            </div>
        }
        <p class="lead">
            @Html.ActionLink("Register as a new user", "Register")
        </p>
    </div>
    <div class="col-lg-2"> </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}