﻿@model CartelloDiApis.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-lg-2"> </div>
    <div class="col-lg-8 text-center">
        <h1>@ViewBag.Title</h1>
        <hr />
        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "col-lg-12", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="input-group" style="width: 340px; text-align: left; margin: 0 auto;">
                @Html.LabelFor(m => m.Email, new { @class = "lead", style = "margin-bottom: 2px" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="input-group" style="width: 340px; text-align: left; margin: 0 auto;">
                @Html.LabelFor(m => m.Password, new { @class = "lead", style = "margin-bottom: 2px" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="input-group" style="width: 340px; text-align: left; margin: 0 auto;">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "lead", style = "margin-bottom: 2px" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg" })
            </div>

            <div class="input-group" style="width: 340px; text-align: center; margin: 12px auto;">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register">
                </div>
            </div>
        }
        <p class="lead">
            @Html.ActionLink("Back to Log In page...", "Login")
        </p>
    </div>
    <div class="col-lg-2"> </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
